input {
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #1BF6AD;
}

nav {
    background-color: black;
    display: flex;
}

.links {
    padding: 10px;
    color: white;
    text-decoration: none;
    align-content: center;
}

.links:hover {
    background-color: white;
    color: black;
}

.app {
    display: flex;
    flex-direction: row;
}

.app > p {
    margin-right: 10px;
}

.form_div {

    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    border-radius: 3px;

    text-align: center;
}