.registerForm{
    display:flex;
    flex-direction: column;
    width: 200px;
}

input{
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #1BF6AD;
}

nav {
    background-color:black;
    display:flex;
}

.links {
    padding: 10px;
    color: white;
    text-decoration: none;
    align-content: center;
}

.links:hover{
    background-color:white;
    color:black;
}

.app{
    display:flex;
    flex-direction: row;
}

.app > p{
    margin-right:10px;
}